.App-header {
  font-size: 18px;
  padding: 1rem 0;
}


main {
  background-color: #282c34;
  color: white;
  font-size: 24px;
  min-height: 100vh;
  padding: 2rem 0;
  line-height: 1.5;
}


main,.App-header{
  
  text-align: center;
}
